.contact-form-wrapper {
    padding: 5rem 0;
}

.contact-form {
    margin: 0 auto;
    max-width: 680px;

    h1 {
        color: var(--secondary-light);
    }
}

.input-container {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 1.5rem;
    outline: 0;
    border: 0.2rem solid var(--secondary-dark);
    background: transparent;
    color: var(--secondary-dark);

    &::placeholder {
        color: var(--secondary-dark);
        opacity: 0.7;
    }
}

.label {
    display: none;
}

.message {
    margin-top: 1rem;
    font-weight: bold;
}