@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #fdf0d5;
  --foreground: #171717;
  --primary-dark: #003049;
  --primary-light: #669bbc;
  --secondary-dark: #780000;
  --secondary-light: #c1121f;

  --zindex-header: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
  background: var(--background);
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.main-banner-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  flex-shrink: 0;
}

.main-banner-image {
  position: absolute;
  height: 95%;
  right: 0;
  bottom: 0;
  max-width: 700px;
}

.main-banner {
  margin: 0 60px;
  height: calc(100vh - 76px);
  max-height: 800px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-banner .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section {
  margin-bottom: 10rem;
  min-height: 50vh;
  background: var(--primary-dark);
}

.section-contact {
  background: var(--primary-light);
}

.section-experience {
  background: var(--secondary-dark);
}


.section-about {
  background: var(--secondary-light);
}

.section-portfolio {}