@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #fdf0d5;
  --bg-darken: #fbe0a8;
  --background: #fdf0d5;
  --foreground: #171717;
  --primary-dark: #003049;
  --primary-light: #669bbc;
  --secondary-dark: #780000;
  --secondary-light: #c1121f;

  --yellow: #F8CD77;
  --pink: #F8B4B9;
  --zindex-header: 5;

  --transition: 230ms all cubic-bezier(.2, .8, .2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
  background: var(--background);
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

.main-banner-container {
  background: var(--secondary-dark);
  color: var(--bg)
}

.main-banner-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  flex-shrink: 0;
}


.main-banner-image-container {}

.main-banner-image {
  position: absolute;
  height: 95%;
  right: 0;
  bottom: 0;
  max-width: 700px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #780000;
    background: radial-gradient(circle, #78000000 0%, var(--secondary-dark) 55% 100%);
    pointer-events: none;
  }
}

.main-banner {
  margin: 0 auto;
  padding: 0 60px;
  height: calc(100vh - 76px);
  max-height: 800px;
  max-width: 1200px;

  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-banner .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.main-banner .title {
  margin-bottom: 2rem;
}

.main-header {
  margin: 0;
  font-size: 3rem;
}

.section {
  margin-bottom: 10rem;
  min-height: 50vh;
  background: var(--primary-dark);
}

.section-contact {
  background: var(--primary-light);
}

.section-experience {
  background: var(--secondary-dark);
}


.section-about {
  background: var(--bg);
}

.section-portfolio {}

.button {
  padding: 1rem;
  min-width: 200px;
  text-align: center;
  background: var(--secondary-dark);
  color: var(--background);
  transition: all 0.2s;
  position: relative;
  overflow: hidden;


  &:hover&:not(:disabled) {
    background: var(--secondary-light);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.button:hover,
.header-link:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.92)
}

.button::after,
.header-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  border-radius: 999px;
  background: rgba(255, 255, 255, .5);
}

.button:focus::after,
.header-link:focus::after {
  animation: scale_up 300ms forwards;
}

@keyframes scale_up {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

}