@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #fdf0d5;
  --bg-darken: #fbe0a8;
  --background: #fdf0d5;
  --foreground: #171717;
  --primary-dark: #003049;
  --primary-light: #669bbc;
  --secondary-dark: #780000;
  --secondary-light: #c1121f;

  --yellow: #F8CD77;
  --pink: #F8B4B9;
  --pink--dark: #f4858d;
  --zindex-header: 5;

  --transition: 230ms all cubic-bezier(.2, .8, .2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
  background: var(--background);
  font-size: 1.6em;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;

  text-transform: uppercase;

}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.6rem;
}

.button {
  padding: 2rem;
  text-transform: uppercase;
  min-width: 200px;
  text-align: center;
  background: var(--secondary-dark);
  color: var(--background);
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  font-weight: 600;


  &:hover&:not(:disabled) {
    background: var(--secondary-light);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.button--light {
  border: 2px solid var(--pink);
  background: transparent;
  color: var(--pink);

  &:hover&:not(:disabled) {
    background: var(--pink);
    color: var(--secondary-dark);
  }

}

.button:hover,
.header-link:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.92)
}

.button::after,
.header-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  border-radius: 999px;
  background: rgba(255, 255, 255, .5);
}

.button:focus::after,
.header-link:focus::after {
  animation: scale_up 300ms forwards;
}

@keyframes scale_up {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }

}