.header {

    position: sticky;
    top: 0;
    background-color: var(--secondary-dark);
    z-index: var(--zindex-header);

    transition: var(--transition);

    .header-container {
        display: flex;
        max-width: var(--container-xl);
        margin: 0 auto;
    }


    &.header-scrolled,
    .contact-page & {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(10px); */



    }

}

.header-link,
.header-logo {
    color: var(--pink);
}

.header-link {
    display: block;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}

.header-link:hover {
    color: var(--secondary-dark);

}

.directional-btn {
    position: relative;
    overflow: hidden;
}

.directional-btn .bg {
    position: absolute;
    background: var(--pink);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 220ms cubic-bezier(.2, .8, .2, 1);
    pointer-events: none;
    transform: translateX(0) translateY(0);
}

.directional-btn:not(.hovered) .bg {
    transform: translateX(101%) translateY(0);
}


/* while setting the initial off-screen position, disable transitions */
.directional-btn.preparing .bg {
    transition: none;
    will-change: transform;
}

/* Entry positions */
.directional-btn.enter-top .bg {
    transform: translateY(-101%);
}

.directional-btn.enter-bottom .bg {
    transform: translateY(101%);
}

.directional-btn.enter-left .bg {
    transform: translateX(-101%);
}

.directional-btn.enter-right .bg {
    transform: translateX(101%);
}

/* slide in on hover */
.directional-btn.hovered .bg {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/* Exit directions (slide OUT) */
.directional-btn.exit-top .bg {
    transform: translateY(-101%);
}

.directional-btn.exit-bottom .bg {
    transform: translateY(101%);
}

.directional-btn.exit-left .bg {
    transform: translateX(-101%);
}

.directional-btn.exit-right .bg {
    transform: translateX(101%);
}




.link-text {
    position: relative;
    padding: 1.5rem 2rem;
    transition: transform 220ms cubic-bezier(.2, .8, .2, 1);
}



.header-link.enter .hover-bg,
.header-link .hover-bg {
    opacity: 1;

}


.header-logo {
    margin-right: auto;

}

/* theming for color swaps on scroll*/

.header {


    &.home {
        background-color: var(--secondary-dark);



    }

    &.about {
        background-color: var(--bg);


        .header-link {
            color: var(--secondary-dark);

            &:hover {
                color: var(--bg);
            }
        }

        .header-logo {
            color: var(--secondary-dark);
        }

        .directional-btn .bg {
            background: var(--secondary-light);
        }

        .logo-letter:before,
        .logo-letter:after {
            background: var(--bg);
        }
    }
}