.main-banner-container {
    background: var(--secondary-dark);
    color: var(--bg)
}

.main-banner-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;
}



.main-banner-image {
    position: absolute;
    height: auto;
    right: 0;
    bottom: 0;
    max-width: 1000px;
    width: 60%;
    animation-delay: var(--animation-delay-hero-image);
}

.main-banner {
    margin: 0 auto;
    padding: 0 60px;
    height: calc(100vh - 76px);
    max-height: 800px;
    max-width: 1200px;
    color: var(--pink);
    display: flex;
    position: relative;
    justify-content: space-between;

    .button {
        font-size: 2rem;
        display: block;
    }

    .title {
        width: 100%;
        margin-bottom: 2.4rem;
    }
}

.main-banner .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@keyframes line1 {
    from {
        width: 0;
    }

    to {
        width: 3.5rem;
    }
}

@keyframes line2 {
    from {
        height: 0;
    }

    to {
        height: 13rem;
    }
}

@keyframes line3 {
    from {
        width: 0;
    }

    to {
        width: 27rem;
    }
}

@keyframes button {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}





.main-banner .main-header {
    margin: 0 0 0.4rem 0;
    position: relative;

    /* line 1 */
    &:after {
        height: 0.2rem;
        width: 0rem;
        position: absolute;
        content: "";
        background: var(--pink);
        right: calc(100% + 1.3rem);
        top: 4rem;

        animation-name: line1;
        animation-duration: 80ms;
        animation-delay: var(--animation-delay);
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    /* line-2 */
    &:before {
        height: 0rem;
        width: 0.2rem;
        position: absolute;
        content: "";
        background: var(--pink);
        left: -5rem;
        top: 4rem;

        animation-name: line2;

        animation-duration: 120ms;
        animation-delay: var(--animation-delay-line2);
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }



}

.main-banner .button-container {
    position: relative;
    margin-left: auto;

    /* line-3 */
    &:before {
        height: 0.2rem;
        width: 0;
        position: absolute;
        content: "";
        background: var(--pink);
        left: -27rem;
        top: 3.6rem;

        animation-name: line3;
        animation-duration: 180ms;
        animation-delay: var(--animation-delay-line3);

        animation-fill-mode: forwards;
        animation-timing-function: linear;

    }
}

.main-banner .button-inner {
    overflow: hidden;
    position: relative;

    /* cover for enter animation on button */
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--secondary-dark);
        z-index: 1;

        animation: button 200ms;
        animation-timing-function: ease-out;

        animation-fill-mode: forwards;

        animation-delay: var(--animation-delay-button);

    }

}