.section {
  min-height: 50vh;
  background: var(--primary-dark);
}

.section-experience .section-content {
  padding-top: 0rem;
}

.section[id] {
  scroll-margin-top: 5.3rem;
}

.section-about,
.section-experience,
.section-blog {
  background: var(--bg);
}

.section-contact {
  background: var(--yellow);

  h2 {
    color: var(--secondary-dark);
  }

  .content {
    padding: 2rem;
  }

  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link {
    margin-bottom: 1.5rem;
    display: inline-block;

    &::before {
      color: var(--secondary-dark);
      content: "+";
      margin-right: 0.4rem;
    }
  }
}

.section-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 5rem 2rem;

  color: var(--secondary-dark);
}

.main-banner-container {
  background: var(--secondary-dark);
  color: var(--bg);
}

.intro-header {
  font-size: 1.5rem;
}

.intro-header-2 {
  font-size: 1.5rem;
}
