.section {
    min-height: 50vh;
    background: var(--primary-dark);
}

.section-contact {
    background: var(--primary-light);
}

.section-experience .section-content {
    padding-top: 0rem;
}



.section-about,
.section-experience {
    background: var(--bg);
}

.section-portfolio {}

.section-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 2rem;


    color: var(--secondary-dark);

}

.main-banner-container {
    background: var(--secondary-dark);
    color: var(--bg)
}

.main-banner-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;
}


.main-banner-image-container {}

.main-banner-image {
    position: absolute;
    height: 95%;
    right: 0;
    bottom: 0;
    max-width: 700px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #780000;
        background: radial-gradient(circle, #78000000 0% 54%, var(--secondary-dark) 55% 100%);
        pointer-events: none;
    }
}

.main-banner {
    margin: 0 auto;
    padding: 0 60px;
    height: calc(100vh - 76px);
    max-height: 800px;
    max-width: 1200px;
    color: var(--pink);
    display: flex;
    position: relative;
    justify-content: space-between;

    .button {
        margin-left: auto;
        font-size: 2rem;
    }

    .title {
        width: 100%;
        margin-bottom: 2.4rem;
    }
}

.main-banner .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.main-banner .main-header {
    margin: 0 0 0.4rem 0;
}

.intro-header {
    font-size: 1.8rem;
    font-size: 2rem;
}


.intro-header-2 {
    font-size: 1.8rem;
    font-size: 2rem;
}