.header-logo {
  color: var(--text);
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 4rem;
  line-height: 1;
  font-family: Chillax;
  font-weight: bold;
  .link-text {
    display: none;
  }
  .R {
    font-weight: 500;
    /* font-family: var(--font-roboto-mono); */
  }
}

.header-logo {
}
