.tabs-container {
    margin-top: 4rem;
    display: flex;

    .date {
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 1rem;
    }

    .content {
        margin-bottom: 1rem;
    }

    .list {
        padding-left: 1rem;
    }

    .list-item {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;

        &::marker {
            content: "+";
            position: absolute;
            left: 0;
            color: var(--secondary-dark);
        }

    }
}

@media (max-width: 768px) {
    .tabs-container {
        flex-direction: column;
        gap: 2rem;
    }

    .tabs {
        width: 100%;
    }

    .tab-title {
        border-left: none;
        border-radius: 999px;
    }

    .tab-title:hover,
    .tab-title.active {
        border-left: none;
    }

    .tab-content-container {
        width: 100%;
        border-radius: 1rem;
    }
}


.tabs {
    width: 20rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;


}

.tab-title-text {
    position: relative;
    z-index: 2;
}

.tab-title {
    padding: 1.5rem 2rem;
    border-left: 0.2rem solid transparent;
    transition: var(--transition);
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--secondary-light);
    cursor: pointer;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, var(--bg), var(--pink) 70%);
        opacity: 0;
        transition: var(--transition);
        pointer-events: none;
    }


    &:hover,
    &.active {

        border-left: 0.2rem solid var(--secondary-light);

        &::before {
            opacity: 1;
        }
    }
}

.tab-content-container {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    background: var(--pink);
    padding: 2.5rem;
    border-radius: 0 1rem 0rem 1rem;

}

.tab-content {
    display: none;
    flex: 1 1 auto;
    position: relative;
    transition: opacity 0.2s;


    &.active {
        display: block;
        animation: tabFadeIn 300ms ease-in-out;
    }

}



@keyframes tabFadeIn {

    0% {
        opacity: 0;
        top: 5rem;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}
